body
{
	color: #333;
	font-family: courier;
	margin: 0;
	font-size: 16px;
	padding: 0;
}
#cabecera
{
	background: #33a;
	box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
	color: white;
	font-weight: bold;
	margin: 0;
	padding: 1em;
	font-size: 1.2em;
}

#cabecera #tagline 
{
	padding: 0 0 0 1em;
	font-weight: normal;
	font-size: 0.8em;
}
#container
{
	width: 70%;
	text-align: left;
	border: 1px solid orange;
	margin: 0 auto;
}
#container h1 
{
	color: blue;
	font-size: 20px !important;
}

#post
{
	padding: 1em;
}