body
{
	color: #333;
	font-family: "Arial";
	margin: 0;
	font-size: 16px;
	padding: 0;

}
#container
{
	width: 70%;
	padding: 1em;
	text-align: left;
	border: 1px solid orange;
	margin: 0 auto;
}
#container h1 
{
	color: blue;
	font-size: 20px !important;
}

#post
{
	text-shadow: 1px 1px #999;
}